
- if items
  %table.table
    %thead
      %th
        Аромат
      %th
        Бренд
      %th
        Цена
      %th
        = '...'
    %tbody
      - items.each do |item|
        %tr
          %td
            = item.original_name
          %td
            = item.brand.name
          %td
            = item.price.to_s
          %td
            = link_to 'Редактировать', edit_admin_item_path(item)
            = '|'
            = link_to 'Цены', admin_item_prices_path(item)

- else
  %h1 Пусто