= simple_form_for brand, url: url, html: {class: 'form-vertical'} do |f|

  = f.input :name
  = f.input :index
  .form-actions
    = f.submit 'Готово', class: 'btn'
    = link_to 'Удалить', admin_brand_path(brand), method: :delete, class: ['btn', 'btn-danger'] if brand.id?