%ol.breadcrumb
  %li
    = link_to 'Все заказы', crm_orders_path
    = '/'
  %li.active
    = "Заказ номер #{@order.id}"
  %li{style: 'float: right;'}
    %a.btn-small{href: edit_crm_order_path(@order)} Изменить


.page-header
  %h2
    = "#{@order.username} - #{@order.phone}"
    %small
      %br
      = @order.delivery_address.gsub("\n", '<br/>').html_safe

%legend Позиции к заказу

%table.table
  %thead
    %th Аромат
    %th Объем
    %th Цена
    %th -
  %tbody
    - @order.prices.each do |price|
      %tr
        %td
          = "#{price.item.brand.name} #{price.item.original_name}"
          %br
          %span{style: 'font-size: 12px;'}
            = price.name
        %td
          = "#{price.volume} мл"
        %td
          = "#{price.price} руб"
        %td -
