.wrapper
  - if get_cart.count > 0
    #cart-list

      .header
        Ваша корзина
      %table.cart-list{style: 'width: 100%;'}
        - @prices.each do |volume|
          %tr
            %td
              = "Montale #{volume.item.original_name}"
              %br
              %small
                = volume.name

            %td.volume
              = "#{volume.volume.to_s} мл"


            %td
              = get_cart.find_volume(volume)[:count].to_s


            %td.price
              = "#{get_cart.find_volume(volume)[:summ].to_s},00 рублей"

            %td.button
              -#%a.remove-from-cart{href: '', volume_id: volume.id} Удалить
              = link_to 'x', remove_cart_path(volume_id: volume.id), class: 'remove-from-cart'

        %tr.last
          %td{style: 'text-align: right'}
            Итого:
          %td
          %td
            = "#{get_cart.count.to_s}"
          %td.price
            = "#{get_cart.summ.to_s},00 рублей"
          %td


      .buttons

        %a.make-order{href: '/cart/order_form'}
          Оформить заказ

- if get_cart.count > 0
  #cart-empty{style: 'display: none'}
    .wrapper
      .header
        Ваша Корзина Пуста
- else
  #cart-empty

    .wrapper
      .header
        Ваша корзина
      .empty-cart
        Ваша корзина пуста
        %br
        %br
        = link_to 'Вернуться на главную страницу', root_path