
.title-bar
  %h1
    = @brand.name
  .sale-info
    Дарим 700 рублей
    %br
    при первой покупке любого аромата
    %br
    = @brand.name
    в нашем магазине



.items
  -  @items.each do |item|
    .item
      .image
        %a{href: "/#{item.brand.index}/#{item.index}"}
          = image_tag item.preview_url(:thumb) if item.preview?
      .info
        %a.name{href: "/#{item.brand.index}/#{item.index}"}
          = item.original_name
        .sex
          Унисекс
