.title-bar
  %h1
    %a{href: "/#{@item.brand.index}"}= @item.brand.name
    = '—'
    = @item.original_name

#item
  .info
    .item-image
      = image_tag @item.image_url(:mini)

    .item-about
      = @item.about.gsub(/\n/, '<br />').html_safe

      -#.perfume-aromate
        .aromate
          %span Верхние ноты
          %br
          = @item.top_notes
        .aromate
          %span Средние ноты
          %br
          = @item.middle_notes
        .aromate.last
          %span Нижние ноты
          %br
          = @item.lower_notes

    .item-fast-order
      .title
        500Р в подарок
      .tips
        Оставьте ваш номер телефона, и в течение
        15 минут наш менеджер оформит ваш заказ
        со скидкой 500 рублей

      %input{type: :text, name: 'fast_phone', placeholder: '(903) 777-77-77'}
      .button#fast-order-button
        Перезвоните мне


  .volumes-grid
    .header
      Цены на этот аромат
    %table
      - @item.prices.each do |price|
        %tr
          %td
            = "#{@item.brand.name} #{@item.original_name}"
            %br
            %small
              = price.name

          %td.volume
            = "#{price.volume.to_s} мл"


          %td.price
            = "#{price.price.to_s},00 рублей"

          %td.button
            .add-to-cart{volume_id: price.id, style: 'float: right;'}
              В Корзину



  .triggers
    .trigger
      %span 100% гарантия
      %br
      Если в течении трех дней вам показалось что духи пахнут не должным образом мы вернем вам 100% от стоимости духов
    .trigger
      %span Быстрая доставка
      %br
      Мы доставим вам ваш товар уже на следующий день
    .trigger
      %span 24 часа в сутки
      %br
      В нашем интернет магазине у вас есть возможность сделать заказ в любое время дня и ночи.
    .trigger.last
      %span 100% оригинал
      %br
      Вы можете сравнить покупку с духами, продающимися в бутиках, и убедиться что вы купили оригинал.

  -#.fast-order
    .header
      Заказ в один клик

    .left
      .about-fast-order
        Менеджер перезвонит вам, узнает все детали и сам оформит заказ на ваше имя.
    .right
      .fast-order-form
        %input{type: :text, name: :fast_phone, placeholder: 'Введите ваш номер телефона'}
        %button#fast-order-button{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона', item_id: @item.id}
          Заказать

