!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    %link{rel: :icon, type: 'image/vnd.microsoft.ico', href: '/assets/favicon.ico?11111'}
    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/assets/favicon.ico?11111'}
    %title
      Пахну Вкусно | Интернет-магазин парфюмерии
  %body
    = render partial: 'carts/widget'
    #topbar
      .wrapper
        .left
          %a{href: root_path}
            = image_tag 'logo.jpg', width: 206

        .right
          .phone
            (495) 792-89-59
            .small
              Круглосуточно. Без выходных.



    .wrapper
      %ul.brands-navigation
        %li
          %a{href: '#'} Amouage

        %li
          %a{href: '#'} Jo Malone

        %li
          %a{href: '#'} Kilian

        %li
          %a{href: '#'} Tom Ford

        %li
          %a{href: '#'} Montale

        %li.active
          %a{href: '#'} Serge Lutens


    .container
      .buffer


      = yield

      -##footer
        &copy; 2013

    .modal-overlay
    .modal-thank-you
      .header
        Спасибо!
      .body
        Мы вам позвоним в течение 5 минут


        %a{href: '/montale'}
          Я буду ждать!

    .modal-dialog
      .header
        Оформление заказа
      .body
        .to-do
          Чтобы оформить заказ, оставьте ваши контактные данные. Мы свяжемся с вами в течение 5 минут.
        .form
          %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
          %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
          %button#order-button
            Оформить заказ

        .after
          Ваши контактные данные в безопасности и не будут переданы третьим лицам.

    = render partial: 'layouts/metrika'
